# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Python & Virtual Environments
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class
*.so

# Node / JS Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js
/.next/
/out/

# Production & Builds
/build
dist/
*.egg-info/

# Misc & OS
.DS_Store
Thumbs.db
*.pem

# Debug & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment Variables
.env*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts